html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
input,
select {
  vertical-align: middle;
}

.seasonNew-slider .slick-track {
  display: flex;
}

.seasonNew-slider .slick-list {
  min-width: 0;
  overflow: hidden;
}

.seasonNew-slider {
  position: relative;
  padding-left: 90px;
  padding-right: 45px;
}

.seasonNew-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.seasonNew-slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.seasonNew-slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-color: #fff;
  border-radius: 50%;
}
.seasonNew-slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #FFFFFF;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFFFFF;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #FFFFFF;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #000000;
}

.wrapper {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}

.firstHeader {
  color: #969696;
  font-size: 12px;
  padding: 14px 0 0 0;
}
.firstHeader .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.firstHeader-schedule a {
  text-decoration: none;
  color: #969696;
  position: relative;
  padding-left: 32px;
  margin-right: 15px;
}
.firstHeader-schedule a::before {
  content: '';
  background-image: url(../images/Phone.png);
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px #000;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
.firstHeader-schedule span {
  border-left: 1px solid #969696;
  padding-left: 15px;
  margin-right: 12px;
}

.firstHeader-login a {
  text-decoration: none;
  color: #969696;
  position: relative;
}
.firstHeader-login .firstHeader-login--enter::before {
  content: '';
  background-image: url(../images/Login.png);
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px #000;
  top: 1px;
  left: 0;
  background-repeat: no-repeat;
  margin-left: -20px;
}

.secondHeader {
  background-color: #0F0F0F;
  text-transform: uppercase;
}
.secondHeader .wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondHeader .secondHeader-menu--list {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-between;
  font-size: 14px;
}
.secondHeader .secondHeader-menu--list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  text-decoration: none;
  color: #969696;
  transition: .5s all;
}
.secondHeader .secondHeader-menu--list a:hover {
  background-color: #1F1F1F;
}
.secondHeader .secondHeader-menu--btns {
  display: flex;
  align-items: center;
}

.secondHeader-menu {
  display: flex;
  height: 100%;
  align-items: center;
}
.secondHeader-menu .secondHeader-cart {
  margin-left: 25px;
  cursor: pointer;
}
.secondHeader-menu .secondHeader-search {
  margin-left: 42px;
  cursor: pointer;
}

.mainSection {
  background-image: url("../images/MainImg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 645px;
  padding-top: 160px;
}
.mainSection .mainSection-header {
  height: 320px;
  width: 320px;
  margin: 0 auto 80px auto;
  text-align: center;
  border: 4px solid #FFFFFF;
}
.mainSection .mainSection-header h1 {
  margin-top: 106px;
  margin-bottom: 7px;
}
.mainSection .mainSection-header h1 img {
  padding-bottom: 10px;
  border-bottom: 2px solid #FFFFFF;
}
.mainSection .mainSection-header h3 {
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
}
.mainSection .mainSection-description {
  max-width: 730px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.collectionSection {
  display: flex;
  flex-wrap: wrap;
}

hr {
  margin: 0;
  width: 120px;
  margin: 0 auto;
}

.seasonNew {
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  width: 54%;
  height: 725px;
  text-align: center;
}
.seasonNew h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 93px;
  margin-bottom: 50px;
}

.seasonNew-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  color: #FFFFFF;
}
.seasonNew-items .seasonNew-item--img {
  width: 260px;
  height: 325px;
  background-color: #191B1C;
}
.seasonNew-items .seasonNew-item--img img {
  margin-top: 55px;
}
.seasonNew-items .seasonNew-item--descrp {
  margin-top: 25px;
  text-align: left;
}
.seasonNew-items .seasonNew-item--descrp span {
  display: inline-block;
}
.seasonNew-items .seasonNew-item--descrp .seasonNew-item--name {
  margin-bottom: 10px;
}

.newCollection {
  height: 725px;
  width: 46%;
  background-image: url("../images/Img4.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
.newCollection h2 {
  margin-top: 484px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
.newCollection .newCollection-btn {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  padding: 12px 28px;
  text-transform: uppercase;
  line-height: 23px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 30px;
  transition: .5s all;
}
.newCollection .newCollection-btn:hover {
  background-color: #1F1F1F;
}

.collectionSection--img {
  height: 600px;
  width: 46%;
  background-image: url("../images/Img2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.oldCollection {
  height: 600px;
  width: 54%;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.oldCollection h2 {
  font-size: 36px;
  color: #FFFFFF;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: 400;
}
.oldCollection hr {
  margin-bottom: 40px;
}
.oldCollection .oldCollection-descrp {
  font-family: 'PT Sans', sans-serif;
  max-width: 471px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto;
}
.oldCollection .oldCollection-btn {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  padding: 12px 28px;
  text-transform: uppercase;
  line-height: 23px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 61px;
  transition: .5s all;
}
.oldCollection .oldCollection-btn:hover {
  background-color: #1F1F1F;
}

.newGoodsSection {
  font-family: 'Playfair Display', serif;
  text-align: center;
}
.newGoodsSection h2 {
  margin-top: 120px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.newGoodsSection .seasonNew-items {
  margin-top: 81px;
  margin-bottom: 110px;
}
.newGoodsSection .seasonNew-item--img {
  text-align: center;
}
.newGoodsSection .seasonNew-item {
  margin-bottom: 40px;
}

.brendsSection {
  font-family: 'Playfair Display', serif;
  text-align: center;
  background-color: #0F0F0F;
}
.brendsSection .wrapper {
  padding-top: 60px;
  padding-bottom: 80px;
}
.brendsSection h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.brendsSection hr {
  margin-bottom: 40px;
}
.brendsSection .brendsSection-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.infoSection {
  background-image: url("../images/Img3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 395px;
}

.infoBox {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutBox-about {
  max-width: 350px;
}
.aboutBox-about h3 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.aboutBox-about .aboutBox-about--text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.aboutBox-category {
  max-width: 350px;
}
.aboutBox-category h3 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.aboutBox-category .aboutBox-category--items {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.aboutBox-category .aboutBox-category--items a {
  font-size: 14px;
  line-height: 21px;
  color: #D0D0D0;
  text-decoration: none;
  background-color: #0F0F0F;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: .5s all;
}
.aboutBox-category .aboutBox-category--items a:hover {
  background-color: #1F1F1F;
}

.aboutBox-mailing {
  max-width: 350px;
}
.aboutBox-mailing h3 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.aboutBox-mailing .aboutBox-mailing--text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 37px;
}
.aboutBox-mailing .aboutBox-mailing--form {
  height: 42px;
  display: flex;
}
.aboutBox-mailing .aboutBox-mailing--form input {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  border: none;
  color: #FFFFFF;
  padding: 0;
  padding-left: 20px;
  width: 100%;
  outline: 0;
}
.aboutBox-mailing .aboutBox-mailing--form .aboutBox-mailing--btn {
  height: 100%;
  margin: 0;
  border: none;
  padding: 10px 20px;
  background-color: #0F0F0F;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  transition: .5s all;
}
.aboutBox-mailing .aboutBox-mailing--form .aboutBox-mailing--btn:hover {
  background-color: #1F1F1F;
}

footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
footer .footer-rights {
  margin: 17px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #D0D0D0;
}
footer .footer-maker {
  margin: 17px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #D0D0D0;
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .infoSection {
    height: auto;
  }

  .aboutBox-category {
    margin-top: 40px;
  }

  .aboutBox-mailing {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .infoBox {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
  }

  .aboutBox-about,
  .aboutBox-category,
  .aboutBox-mailing {
    max-width: none;
  }
}
@media (max-width: 1000px) {
  .mainSection {
    padding-top: 120px;
  }

  .collectionSection {
    flex-direction: column;
    align-items: center;
  }

  .seasonNew {
    height: 760px;
  }

  .seasonNew-slider {
    width: 100%;
  }

  .newCollection {
    width: 100%;
  }

  .collectionSection--img {
    width: 100%;
  }

  .oldCollection {
    height: auto;
  }

  .seasonNew-slider {
    padding: 0;
  }

  .newGoodsSection h2 {
    margin-top: 45px;
  }
}
@media (max-width: 650px) {
  .secondHeader .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }

  .secondHeader-menu {
    height: auto;
  }

  .aboutBox-mailing {
    margin-top: 30px;
  }
}
@media (max-width: 525px) {
  .firstHeader-schedule {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .firstHeader-schedule span {
    border: none;
    padding-top: 5px;
  }
  .firstHeader-schedule a {
    border: none;
    padding-top: 5px;
  }

  .secondHeader-logo {
    margin-bottom: 15px;
  }

  .firstHeader .wrapper {
    align-items: center;
    height: 80px;
  }

  .firstHeader-login {
    padding-right: 15px;
  }

  .secondHeader-menu {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .secondHeader .wrapper {
    height: auto;
  }

  .secondHeader-menu--list {
    margin-bottom: 15px;
  }

  .secondHeader-menu .secondHeader-cart {
    margin: 0;
  }

  .mainSection {
    padding-top: 100px;
  }
}
