@import 'reset';
@import 'slick';

$mainFonColor: #000000;
$mainLetterColor: #FFFFFF;

//font-family: 'Playfair Display', serif;
//font-family: 'PT Sans', sans-serif;


.ki {
    color: red;
    font-size: 30px;
    border: 1px solid red;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;

}